<template>
    <div id="questions">
        <Question v-bind:questionItem="this.questions[this.i]"
                v-bind:answers="this.questions[this.i].incorrect_answers"
                v-on:selectionMade="handleSelection" />
        <button v-on:click="nextQuestion()">Next</button>
    </div>
</template>

<script>

import Question from '../components/Question';
import axios from 'axios';

export default {
    name: 'Gameplay',
    components: {
        Question
    },
    created() {
        this.numberOfQs = this.$route.params.numberOfQs;
        console.log("https://opentdb.com/api.php?amount="+this.$route.params.numberOfQs);
        axios.get('https://opentdb.com/api.php?amount='+this.numberOfQs)
        .then(resp => resp.data)
        .then(resp => {
            this.questions = resp.results;
        });
    },
    data() {
        return {
            numberOfQs: 0,
            questions: [],
            i: 0,
            answer: "",
            answers: []
        }
    },
    methods:{
        nextQuestion(){
            if(this.i < 9){
                this.answers.push(this.answer)
                this.i++;
            }
            else{
                this.$router.push({name: "gameover", params: {answers: this.answers, questions: this.questions}});
            }
        },
        handleSelection: function(par){
            this.answer = par;
        }
    }
    

}
</script>