<template>
    <div id="result">
        <h1>Game over</h1>
        <Result :answers=this.answers :questions=this.questions />
        <router-link to="/game" tag="button" class="btn btn-primary">Play again?</router-link>
    </div>
</template>

<script>
import Result from '../components/Result';

export default {
    name: 'GameOver',
    components: {
        Result
    },
    props: {
        answers: Array,
        questions: Array
    },
    created(){
        this.answers = this.$route.params.answers;
        this.questions = this.$route.params.questions;
    }
}
</script>