<template>
    <div id="menu">
        <div align="center">
            <label for="slider">Number of questions</label>
            <vue-slider ref="slider" :width=100 :contained=true :min=10 :max=20 :value=15></vue-slider>
        </div>
        <button v-on:click="goToGame()" class="btn btn-primary">Play game</button>
    </div>
</template>

<script src="./node_modules/vue-slider-component/dist/vue-slider-component.umd.min.js"></script>

<script>
import VueSlider from 'vue-slider-component'
import 'vue-slider-component/theme/default.css'

export default {
    components: {
        VueSlider
    },
    methods: {
        goToGame() {
            console.log(this.$refs["slider"].getValue());
            this.$router.push({ name: "game", params: {numberOfQs: this.$refs["slider"].getValue()} });
        }
    }
}
</script>