<template>
    <div class="result">

        <ul text-align="left">
            <div v-for="(q, index) in questions" :key="q.question" text-align="left">
                <li text-align="left">You answered: {{ answers[index] }}. Correct answer: {{ q.correct_answer }} </li>
            </div>
        </ul>
        

        <div v-if="score < 20">
            <p>Man, you suck pretty bad. You know the correct answer is always the last one, right?</p>
        </div>
        <div v-if="score >= 20 && score < 70">
            <p>You did alright. Good on you for staying average.</p>
        </div>
        <div v-if="score >= 70">
            <p>Not bad! I bet you think you're quite clever!</p>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        questionItem:{
            required: true,
            type: Object
        },
        answers: Array,
        questions: Array
    },
    data: function () {
        return {
            score: 0
        }
    },
    created() {
        for (let i = 0; i < this.questions.length; i++) {
            if(this.questions[i].correct_answer == this.answers[i]) this.score += 10;
        }
    }
}
</script>