<template>
  <div id="app">
    <link ref="stylesheet" src="./node_modules/vue-slider-component/theme/default.css">
    <nav>
      <router-link to="/">Home</router-link>
      </nav>
    <router-view></router-view>
  </div>
</template>

<script>

export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
